#dinosaur {
    position: fixed;
    left: 0px;
    top: -5px;
    margin:0px;
    padding:0px;
    z-index: 100;
}

#rollercoaster {
    position:absolute;
    width:1900px;
    height:auto;
    z-index:-1;
}

body {
    background-color: rgb(255, 240, 172);
    height:2000px;
    margin:0;
}
.section_1 {
    padding-bottom:1000px;
    width:100%;
    display:flex;
}


#title_img {
    width: 800px;
    height: 250px;
    position: relative;
    left:55%;
    padding-top:20px;
}

.section_1 h1 {
    color:rgb(116, 78, 221);
    position: relative; 
    font-size: 2.25em;
    right: -275px; 
    top: 300px;
    margin:0px;
}


.section_2 {
    padding-top:100px;
    padding-bottom: 20px;
    display:flex;
    gap:100px;
}

.section_2 img {
    position:relative;
    width: 800px;
    left:25px;
    height:auto;
    border-radius:10px;
}

.blueprint_info{
    display:block;
    width:900px;
    height:300px;
    background-color:rgb(219, 132, 61);
    border-radius:10px;
    border-width:5px;
    border-color:rgb(255, 220, 155);
    border-style:solid;
    padding:10px;

    font-size:40px;
    color:rgb(0, 0, 0);

    background-image: url("imgs/paper_background.jpg");
    background-clip: padding;
}

.black_border {
    border-color: rgb(218, 128, 27);
}
.section_1_border {
    border-radius:10px;
    border-width:6px;
    border-color:rgb(209, 104, 19);
    border-style:dashed;
}

#robux {
    color:rgb(117, 185, 117)
}

.section_3 {
    display:flex;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    padding-top: 100px;
    width:auto;
    height:2000px;
    flex-direction: column;
    align-content:stretch;
    align-items:stretch;
    gap:5px;
}


/* .class > div:nth-child(-n + 3 of .affected_class)
   .class > div.affected_class:nth-child(-n + 3)
   
   
   The first one applies to the first three .affected_class elements regardless of if their position is < 3
   The second one applies to the first three div elements, and to the possible .affected_class elements there 
*/

/*
static - This is default. Element is positioned according to the normal document flow
relative - Element is positioned relative to its normal position in the document flow
fixed - Element is positioned relative to the viewport
absolute - Element is positioned relative to the nearest positioned ancestor (i.e. parent has pos other than static)
sticky - Element toggles between a relative and fixed position, depending on the scroll position
*/

.step_1, .step_2, .step_3, .step_4 {
    display:flex;
    flex-direction: column;
    align-items:start;

    height:500px;
    border-radius:10px;
    border-width:5px;
    border-color:rgb(255, 220, 155);
    border-style:dotted;

}

.step_1 div:nth-child(2) {
    padding-left:0px;
    position:absolute;
    height: 525px;
    padding-top: 5px;
    z-index:-1;
}

.step_1 div:nth-child(2) img { /* This 2nd div child always contains the image. 1st div child is always text, accordingly. */
    border-radius:10px;
    width:auto;
    height:90%;
    overflow:hidden;
    top:0px;
}

#step_1_idea {
    color: green;
    font-size: 1.1em;
}

.step_2 div:nth-child(2) {
    padding-left:0px;
    position:absolute;
    height: 525px;
    padding-top: 5px;
    z-index:-1;
}

.step_2 div:nth-child(2) img { /* This 2nd div child always contains the image. 1st div child is always text, accordingly. */
    border-radius:10px;
    width:auto;
    height:90%;
    overflow:hidden;
    top:0px;
}

#step_2_idea {
    color: rgb(60, 88, 214);
    font-size: 1.1em;
}

.step_3 div:nth-child(2) {
    padding-left:0px;
    position:absolute;
    height: 525px;
    padding-top: 5px;
    z-index:-1;
}

.step_3 div:nth-child(2) img { /* This 2nd div child always contains the image. 1st div child is always text, accordingly. */
    border-radius:10px;
    width:auto;
    height:90%;
    overflow:hidden;
    top:0px;
}

#step_3_idea {
    color: rgb(255, 109, 41);
    font-size: 1.1em;
}

.step_4 div:nth-child(2) {
    padding-left:0px;
    position:absolute;
    height: 525px;
    padding-top: 5px;
    z-index:-1;
}

.step_4 div:nth-child(2) img { /* This 2nd div child always contains the image. 1st div child is always text, accordingly. */
    border-radius:10px;
    width:auto;
    height:90%;
    overflow:hidden;
    top:0px;
}

#step_4_idea {
    color: rgb(68, 134, 24);
    font-size: 1.1em;
}

/*                                                              */
/*                                                              */
/*                         SECTION 4 */

.section_4 {
    display:flex;
    flex-wrap: nowrap;
    padding-bottom: 600px;
    padding-top: 20px;
    width:auto;
    height:800px;
    flex-direction: column;
    align-content:center;
    align-items:center;
    gap:5px;
    position:relative;

}

#what_counts {
    position:absolute;
    background-position-x:center;
    width:1300;
    height:800px;
    margin:20px;
    margin-top:2;
    border-radius: 10px;
    border-width:10px;
    border-color: rgb(255, 190, 50);
    border-style:groove;
}

.section_4 div {
    top:460px;
    left:325px;
    width:100px;
    height:200px;
    border-width: 20px;
    border-style:double;
    border-radius: 5px;
    border-color: rgb(64, 160, 60);

}

#counts_1 {
    position:absolute;
    top:480px;
    left:325px;
    width:500px;
    height:60px;
    border-width: 20px;
    border-style:dashed;
    border-radius: 5px;    
    border-color: rgb(64, 160, 60);
    padding:10px;
    font-size:1.5em;
}

#counts_1 {
    position:absolute;
    top:480px;
    left:325px;
    width:500px;
    height:60px;
    border-width: 10px;
    border-style:dashed;
    border-radius: 5px;    
    border-color: rgb(143, 212, 140);
    padding:10px;
    font-size:1.5em;
    color:rgb(46, 71, 50)
}

#counts_2 {
    position:absolute;
    top:600px;
    left:325px;
    width:500px;
    height:60px;
    border-width: 10px;
    border-style:dashed;
    border-radius: 5px;    
    border-color: rgb(143, 212, 140);
    padding:10px;
    font-size:1.5em;
    color:rgb(46, 71, 50)
}

#counts_3 {
    position:absolute;
    top:710px;
    left:325px;
    width:500px;
    height:60px;
    border-width: 10px;
    border-style:dashed;
    border-radius: 5px;    
    border-color: rgb(143, 212, 140);
    padding:10px;
    font-size:1.2em;
    color:rgb(46, 71, 50)
}


.section_5 {
    display:flex;
    position:relative;
}

#ending {
    width:1900px;
}